<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %marker %level %logger{15} - %message - [%mdc]%n%xException</pattern>
        </encoder>
    </appender>
    <logger name="de.ideasinlogic" level="TRACE"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>